@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: "Ubuntu";
}

*,*:before,*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,:active {
    outline: none;
}

a:focus,a:active {
    outline: none;
}

nav,footer,header,aside {
    display: block;
}

html,body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 15px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,button,textarea {
    font-family:inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding:0;
    border:0;
}

a, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,h2,h3,h4,h5,h6 {
    font-size:inherit;
    font-weight: 400;
}

/*--------------------*/

header {
    height: 360px;
    background: linear-gradient(296.82deg, #272838 50%, #382727 100%);
}

.menu ul {
    display: flex;
    margin-left: 125px;
    width: 35%;
    justify-content: space-around;
    padding-top: 15px;
}

.menuLink {
    color: white;
    font-size: 18px;
}

.menu ul li a, .menuul li a:hover {
    text-decoration: none;
    color: white;
}

.HelloText {
    color: white;
    margin-left: 220px;
    margin-top: 100px;
    font-size: 28px;
}

.MyIMG {
    width: 281px;
    position: absolute;
    left: 75%;
    transform:translate(-50%, -50%);
}

.AboutMe, .Projects {
    position: relative; /* add relative positioning */
}

.AboutMe h1, .Projects h1 {
    font-size: 120px;
    font-weight: bold;
    color: #c3c3c3;
    z-index: 1; /* lower z-index value */
}

.wraper {
    width: 950px;
    margin-left: calc(50% - 475px);
    padding: 50px;
    margin-top: -57px;
    position: relative;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 0px 60px 9px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    /* Note: backdrop-filter has minimal browser support */
    z-index: 2; /* higher z-index value */
    border-radius: 30px;
}
.wrappersRow{
    display: flex;
    width: 950px;
    margin-left: calc(50% - 475px);
    justify-content: space-around;
}
.miniWrapper {
    width: 220px;
    height: 244px;
    margin:0 25px;
    padding: 30px 21px;
    margin-top: -57px;
    position: relative;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 0px 60px 9px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    /* Note: backdrop-filter has minimal browser support */
    z-index: 2; /* higher z-index value */
    border-radius: 30px;
}
.miniWrapper h2{
    text-align: center;
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 10px;
}
.miniWrapper .text{
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    color: #8A8A8A;
}

footer {
    height: 34px;
    /* position: fixed;
    top: calc(100% - 34px);
    width: 100vw; */
    background-color: black;
    color: white;
    padding-top: 9.5px;
    text-align: center;
}
