@media (max-width: 480px){
    .preLoader_text > span{
        font-size: 64px;
    }
    .preLoader_block{
        background-image: url(https://www.dropbox.com/s/bby8fnxammx3ri6/Mabile1.png?raw=1);
    }
    @keyframes Fon{
        0%{
            background-image: url(https://www.dropbox.com/s/bby8fnxammx3ri6/Mabile1.png?raw=1);
        }
        25%{
            background-image: url(https://www.dropbox.com/s/einynb6qlle3f5a/Mabile2.png?raw=1);
        }
        50%{
            background-image: url(https://www.dropbox.com/s/19lpyc56v5zjan3/Mabile3.png?raw=1);
        }
        100%{
            background-image: url(https://www.dropbox.com/s/5y6j943dutu8d5g/Mabile4.png?raw=1);
        }
    }
}