@media (max-width: 480px){
    .preLoader_text > span{
        font-size: 64px;
    }
    .preLoader_block{
        background-image: url(/Img/BG/Mabile1.png);
    }
    @keyframes BackGround{
        0%{
            background-image: url(/Img/BG/Mabile1.png);
        }
        25%{
            background-image: url(/Img/BG/Mabile2.png);
        }
        50%{
            background-image: url(/Img/BG/Mabile3.png);
        }
        100%{
            background-image: url(/Img/BG/Mabile4.png);
        }
    }
}